---
import ButtonSubmit from '../components/ButtonSubmit.svelte';
import Textarea from '../components/TextArea.svelte'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Fix my english">
	<main class="container max-w-lg m-auto flex flex-col">
    <header class="py-4">
      <h1 class="text-3xl font-bold">Fix my english!</h1>
    </header>
    <div class="flex flex-col gap-2">
      <Textarea client:visible />
      <ButtonSubmit client:visible />
    </div>
  </main>
</Layout>
